.recall {
    max-width: 1680px;
    margin: 0 auto;
    background: var(--dark-blue);
    padding: 100px 0 0 ;
}

.recall__row {
    margin-bottom: 73px;
}

.recall__title {
    margin-bottom: 31px;
    line-height: 1.1em;
}

.recall__subtitle {
    font-size: 24px;
    font-family: 'Conv_Larsseit';
    letter-spacing: .15em;
    line-height: 1.5em;
}

.recall__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 150px;
}

.recall__card {
    position: relative;
    height: auto;
    background: var(--blue);
    padding: 75px 74px 75px 102px;
    margin: 0 12px 24px;
}

.recall__card::before {
    content: '';
    background: url('../img/icon/quote.svg');
    width: 32px;
    height: 25px;
    position: absolute;
    top: 75px;
    left: 50px;
}


.recall__row {
    text-align: center;
}

.recall__text {
    font-size: 18px;
    line-height: 1.9em;
    margin-bottom: 25px;
}

.recall__wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.recall__discr {
    font-family: 'Conv_Larsseit';
    font-size: 12px;
    letter-spacing: .15em;
    line-height: 1.7em;
    display: block;
    margin: 0;
    padding: 20px 0px 0 15px;
}

/* text box */

.recall__text_box {
    text-align: center;
    position: relative;
    padding: 0 0 285px;
}

.recall__line::after {
    content: '';
    height: 80px;
    width: 2px;
    background: var(--light-green);
    position: absolute;
    bottom: 75px;
    right: 50%;


}

@media screen and (max-width:760px) {
    .recall__box {
        grid-template-columns: 1fr;
    }
   
    
}

@media screen and (max-width:540px) {
    .recall__card {
        height: auto;
        background: var(--blue);
        padding: 30px 40px 40px 40px;
        margin: 0 12px 24px;
    }
    .recall__card::before {
       display: none;
    }
}


